In [25]:
marks = {
    "Math": 80,
    "English": 70,
    "Science": 90,
    "History": 60,
    "Marathi": 35
}
print(marks)

{'Math': 80, 'English': 70, 'Science': 90, 'History': 60, 'Marathi': 35}

In [15]:
total = sum(marks.values())
print("Total marks:", total)

Total marks: 375

In [17]:
avrage = sum(marks.values())/len(marks)
print("Total marks:", avrage)

Total marks: 75.0

In [7]:
heighest=max(marks, key=marks.get)
print("Highest subject:", heighest, "Marks:", marks[heighest])

Highest subject: Science Marks: 90

In [13]:
lowest=min(marks, key=marks.get)
print("lowest subject:", lowest, "Marks:", marks[lowest])

lowest subject: Marathi Marks: 35

In [19]:
count = 0
for subject, mark in marks.items():
    if mark > 70:
        count +=1
print("Subject with marks > 70:", count)

Subject with marks > 70: 2

In [29]:
for subject, mark in marks.items():
    if mark % 2 == 0:
        print(subject, ":", mark)

Math : 80
English : 70
Science : 90
History : 60

In [45]:
if "Math" in marks:
    print("Math is present")
else:
    print("Math is not found")

Math is present